@import "tailwindcss";

/* Custom slick dots */
.slick-dots li.slick-active div {
  background-color: white !important;
  width: 1.5rem !important;
  border-radius: 0.5rem !important;
}

/* Arrow styling */
.slick-prev:before, 
.slick-next:before {
  color: white;
  opacity: 1;
  font-size: 2rem;
}

.slick-prev {
  left: 20px;
  z-index: 1;
}

.slick-next {
  right: 20px;
}

